---
layout: page
title: Verification
---

# Verification

Here, you'll find verification cases and tests conducted to ensure the accuracy and reliability of HydroChrono.

- [Sphere Model (IEA OES Task 10) - Verification]({{ site.baseurl }}/verification/sphere)
- [Oscillating Surge Wave Energy Converter (OSWEC) Verification]({{ site.baseurl }}/verification/oswec)

Related publication: Ogden, 2023 — HydroChrono background, theory, and implementation details - [PDF]({{ site.baseurl }}/assets/papers/Ogden2023%20-%20HydroChrono.pdf)

<p align="center">
  <img src="{{ site.baseurl }}/assets/img/wave_animation2.gif" alt="Wave Energy" width="80%" />
</p>
